/* This css is specifically designed for the modal */

.bg-modal {
    width: 95%;
    height: 95%;
    background-color: rgba(27, 31, 34, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    margin: 10px auto;
    border-radius: 5px;
}

.modal-content {
    width: 60%;
    background-color: #ffffff;
    position: relative;
}

.modal-content form {
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6ecf1;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-content form label {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 5px;
}

.modal-content form label input[type='text'] {
    width: 90%;
    height: 90%;
    margin: auto;
    border: 1px solid rgba(27, 31, 34, 0.2);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.modal-content form label textarea {
    width: 90%;
    height: 250px;
    margin: auto;
    padding: 4px;
    border: 1px solid rgba(27, 31, 34, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

/* .modal-content form label input#poem-content {
    width: 90%;
    height: 250px;
    margin: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} */

.modal-content form button {
    margin: 15px auto;
    padding: 5px;
    width: 90px;
    outline: none;
    border-radius: 5px;
    border: none;
    color: #1b1f22;
    background-color: #d1c1c1;
}

.modal-content form button:hover {
    background-color: #1b1f22;
    color: #ffffff;
}

.modal-content .modal-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
    outline: none;
    color: #1b1f22;
    background-color: #d1c1c1;
    margin: 4px;
    border-radius: 50%;
}

.modal-content .modal-close:hover {
    background-color: #1b1f22;
    color: #ffffff;
}

@media(max-width: 768px) {
    
    .modal-content {
        width: 95%;
    }
    
    .modal-content form button {
        width: 83%;
    }
    
    .modal-content .modal-close {
        font-size: 30px;
    }

}
